@model IEnumerable<HCA.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h3>Dashboard</h3>

<p>
    <a asp-action="Create">Create New Book</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>@Html.DisplayNameFor(model => model.Author)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                var modalId = "myModal" + item.Id;
                <tr>
                    <td>@item.Title</td>
                    <td>@(item.Description.Length > 20 ? item.Description.Substring(0, 20) + ".." : item.Description)</td>
                    <td>@item.Author</td>
                    <td>$ @item.Price</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="modal" data-target="#@modalId">Delete</a>
                    </td>
                </tr>

                <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">Delete Confirmation</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                Are you sure want to delete this <b>@item.Title</b> ?
                            </div>
                            <div class="modal-footer">
                                <form asp-action="Delete">
                                    <input type="hidden" name="Id" asp-for="@item.Id" />
                                    <button type="submit" class="btn btn-danger">Delete</button> |
                                </form>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <tr>
                <td colspan="5">No items to display</td>
            </tr>
        }
    </tbody>
</table>
